body{
	border: 3px solid #e0963e;
	margin: 2%;
	padding: 2%;
	padding-bottom: 1%;
	border-radius: 25px;
	font:italic bold 12px/30px Georgia, serif;
}
img{
	padding-left: 35%;
	padding-top: 1%;
	margin-bottom: 1%;

}
input[type=text] {
   
    padding: 1px 20px;
    border-radius: 4px;  
}


input[type=submit]:hover {
    background-color: #909090;
     cursor: pointer;

}
.b{
	 background-color: #e87721;
    color: #5b2c1c;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    width: 110px;
    text-align: center;
    margin-left: 15%;

}
table{
	margin-right: 10%;
	padding-left: 10%: 
}

.form{
	padding-left: 35%;
	padding-top: 1%;
}
li{
	display: inline;
	padding: 2%;
	margin-top: 10%;
}
a:link, a:visited {
    background-color: #e87721;
    color: #5b2c1c;
    padding: 15px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    width: 40px;
    text-align: center;
    height: 15px;
    
}

a:hover, a:active {
    background-color: #909090;
    font-size:110%;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}
.home{
	border-radius: 50px;
	margin-left: 85%;
	text-align: center;
}